.heading-main-three {
    font-family: Montserrat;
    font-size: 25px;
    color: #333333;
    text-align: center;
   
}

.any {
    padding:20px;
            width: 97.35%;
            height:auto;
            background-color:white;
}