.heading-main-three {
    font-family: Montserrat;
    font-size: 25px;
    color: #333333;
    text-align: center;
   
}

.any {
    padding:20px;
            width: 100%;
            height:auto;
            background-color:white;
}

.input-1{
    text-align:left;
    width:500px;
    height:35px;  
    padding:5px;
    margin-top:25px;
    
}

.input-2 {

    text-align:left;
    width:500px;
    height:35px;  
    padding:5px;
    margin-top:25px;
    background-color:#3b7bff;
    color:white;
    font-family:Montserrat;

}